---
import Section from "@/components/Section.astro"

import { education } from "@cv"


---
<!-- Se copió Experience, de modo que te sientas libre de cambiar específicamente esta sección -->

<Section title="Education">    
  <ul>
    {
      education.map(
        ({ institution, area, studyType, startDate, endDate, courses }) => {
          const starYear = new Date(startDate).getFullYear();
          const endYear = endDate ? new Date(endDate).getFullYear() : "Actual";
          const duration = `${starYear} - ${endYear}`;
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h2>{institution}</h2>
                    <h3>{area}</h3>
                  </div>
                  <time>{duration}</time>
                </header>
                <footer>
                  <p>{studyType}</p>
                  {courses?.length != 0 && (
                    <details>
                      <summary>Courses</summary>
                      <ul>
                        {courses.map((course) => (
                          <li>{course}</li>
                        ))}
                      </ul>
                    </details>
                  )}
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>


<script>

    const details = document.querySelector("details");
    window.addEventListener("beforeprint", function () {
      details?.setAttribute("open", "");
    });
    window.addEventListener("afterprint", function () {
      details?.removeAttribute("open");
    });
  </script>
  
  <style>
    article {
      @apply mb-4;
    }
  
    article h3 {
      @apply text-gray-800 font-medium;
    }
    article h4 {
      @apply text-gray-700 font-normal;
    }
  
    details summary {
      @apply cursor-pointer text-sm my-2;
    }
  
    details ul {
      @apply list-disc pl-8 my-0 gap-0 text-sm text-gray-500;
    }
  
    header {
      @apply flex justify-between items-start;
    }
  
    ul {
      @apply flex flex-col;
    }
    time {
      @apply text-gray-400;
    }
  </style>
  